*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding: 0 40px;
    margin: 0 auto;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:80px;
    gap:25px
}
nav>ul{
    display: flex;
    list-style:none;
    gap: 25px;


}

/* brand section styles */
.brand-section-container{
    display: flex;
    justify-content: center;
    margin-top:20px;
    text-align: center;
    
    
}
.brand-section-text{
    padding:20px 0px;
}
.btn-primary{
    width:130px;
    height:50px;
    background-color:#FF900E ;
    padding:10px;
    border:none;
    border-radius: 10px;
    font-size:1rem;

}
/* banner image style */
.banner-image-section >img{
    width:100%;
    height:100%;
    margin-top: 30px;
    border-radius: 20px;
    
}

/* galary or photo section styles */

.galary-section-container{
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    align-items: center;
    gap:4.5rem;
    margin-bottom:8rem;
}
.photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.photo img{
    width:100%;
    height:100%;
    
}
.galary-title{
    font-size: 45px;
}
.galary-text{
    font-size:1rem;
    margin-top:1.5rem;
    margin-bottom: 2rem;
}

/* loves enjoy or blogs section styles */
.love-and-enjoy-container{
    display: flex;
    gap:50px;
    margin-bottom:6rem;
}
.blogs-title{
    font-size: 45px;
    font-weight: 700;
    border-left:2px solid #FF900E;
    padding-left:20px;

}
.blog-card-title{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;
}
.blog-card-text{
    font-weight: 400;
    font-size: 16px;
}
.blogs-text{
    font-weight: 400;
    font-size: 14px;
    padding:25px 0px;
}
.blog-card{
    padding:1.9rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    
}
.love-girl-photo>img{
    height:100%;
    width:100%;
    object-fit:cover;
    object-position: top;
    padding-bottom: 20px;



}

/* facts or small card section styles */
.primary-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
}
.primary-text{
    font-size: 14px;
    font-weight: 400;
    line-height:1.3rem;
}
.small-cards{
    display: flex;
    justify-content: space-around;
    margin-bottom:9rem;
}
.card-contents{
    margin-bottom: 70px;
}
.card{
    text-align: center;
    border:1px solid #ff900E;
    border-radius: 8px;
    padding:20px 18px;
    
}
.card:hover{
transform: rotate(180deg);
transition:transform 3s;
}
.card-title{
font-weight: 600;
font-size: 45px;
}
.card-text{
    font-size:1.1rem;
    font-weight: 300;
}
/* sponspors section styles */
.sponspor-section-container{
    margin-bottom:9.3rem ;
}
.sponspor-contents{
    text-align: center;
    margin-bottom:3.1rem;
}
.sponspors{
    display: flex;
    justify-content:space-around;
    gap:10px;
    flex-wrap: wrap;
}
.sponsor{
    width:150px;
    height:50px;
}

/* footer-container */
.footer-container{
    padding:30px 100px;
    background-color: #FFF4E7;;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.footer-title{
    font-size: 20px;
    text-align: center;

}









/* ----------------------------------------
-------------------------------------------
      media Query for mobaile device
------------------------------------------- */
@media screen and (max-width:676px) {
    nav,ul{
        flex-direction: column;
    }
    .nav-title{
        padding-top:30px;
    }
  .brand-section-container{
    padding-top:200px;
  }
  .galary-section-container{
    flex-direction: column;
  }
  .photos{
    grid-template-columns: repeat(1,1fr);
  }
  .galary-text-content{
    text-align: center;
  }
  .love-and-enjoy-container{
    flex-direction: column;
  }
  .small-cards{
    flex-direction: column;
    gap:9px;
  }
  .sponspors{
    flex-direction: column;
   align-items: center;
  }
}
